# Appwrite Configuration

EXPO_PUBLIC_APPWRITE_ENDPOINT=https://your-appwrite-endpoint.com/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_project_id_here
EXPO_PUBLIC_APPWRITE_PLATFORM=your_platform_here

# Database Configuration
EXPO_PUBLIC_DB_ID=your_database_id_here

# Collection IDs
EXPO_PUBLIC_HABITS_COLLECTION_ID=your_habits_collection_id_here
EXPO_PUBLIC_COMPLETIONS_COLLECTION_ID=your_completions_collection_id_here
EXPO_PUBLIC_SLEEP_COLLECTION_ID=your_sleep_collection_id_here
EXPO_PUBLIC_MOOD_COLLECTION_ID=your_mood_collection_id_here
